* {
  margin: 0;
  padding: 0;
}
body {
  text-align: left;
  font-family: "Josefin Sans", sans-serif;
}
.container {
  background-image: url(../../../public/images/bg-pattern-desktop.svg);
  /* background-repeat: repeat-x; */
  background-size: cover;
  background-blend-mode: overlay;
}
.innerContainer {
  display: flex;
}
.wrapper {
  width: 450px;
  height: 580px;
  margin: auto;
  margin: 60px 160px 220px 160px;
}
.left {
  width: 830px;
  height: 800px;
}
.right {
  /* width: 610px;
  height: 800px; */
}
